.main{
    background-color: rgb(189, 173, 173);
    height: 600px;
    width: 500px;
    margin-left: 400px;
    margin-top: 20px;
    border: 3px solid rgb(112, 101, 101);
}
h1{
    margin-left: 80px;
    color: rgb(58, 2, 2);
    font-family: Arial, Helvetica, sans-serif;
}
.first-name{
    color: rgb(77, 1, 1);
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.father-name{
    color: rgb(119, 8, 8);
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.date{
    color: rgb(68, 31, 31);
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}
.subject{
    color: rgb(139, 13, 13);
    margin-left: 30px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
.cnic{
    color: rgb(80, 39, 39);
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
.email{
    color: rgb(46, 26, 26);
    margin-left: 30px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
.submit{
    color: rgb(61, 19, 100);
    margin-left: 90px;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.main :hover{
    transform: scale(1.2);
    transition: 3s;
    background-color: rgb(197, 161, 136);
    border-radius: 50px;
}

